@import 'vuetify/dist/vuetify.min.css';
@import './base/_typography.scss';
@import './base/_misc.scss';

html {
    overflow-y: auto;
}

#monad {
    background-color: #EEEEEE;
    background-image: url('~static/background-white-paper-texture.png');
    background-size: cover;
    background-position: center center;

    .monad-toolbar {
        background-color: rgba($color: white, $alpha: 0.8);
    }
}

.content-overlay {
    background-color: rgba($color: white, $alpha: 0.65);
}

.v-drawer-active {
    background-color: rgba($color: #000000, $alpha: 0.1) !important;
}

.v-no-transformY {
    webkit-transform: translateY(0) !important;
    transform: translateY(0) !important;
}