@font-face {
	font-family: Monad;
	src: url("~/static/fonts/Monad.otf") format("opentype");
}

.font-raleway-thin {
    font-family: Raleway;
    font-weight: 100;
}

.font-raleway-elight {
    font-family: Raleway;
    font-weight: 200;
}

.font-raleway-light {
    font-family: Raleway;
    font-weight: 300;
}

.font-raleway-regular {
    font-family: Raleway;
    font-weight: 400;
}

.card-title {
    font-size: 21px !important;
}